@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:is(*));

[data-theme='cerberus'] {
	--body-background-color-dark: transparent;
}

@layer base {
	html,
	body {
		@apply h-full overflow-hidden;
	}

	* {
		@apply select-none;
	}
}

.preset-glass-neutral {
	background: color-mix(in oklab, var(--color-surface-50-950) 95%, transparent);
	box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-50-950) 95%, transparent) inset;
	backdrop-filter: blur(16px);
}
